
@{
    ViewBag.Title = "ListaP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/estilos.css" rel="stylesheet" />

@model List<Pruebita.Models.Producto>

<h2>Agregar productos</h2>
<form action="/Productos/AgregarP" method="post">
    <div class="fila">
        @*<div class="campo">
                <label>ID:</label>
                <input type="text" name="id" required maxlength="5" placeholder="Ej: 001"
                       onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                <br />
            </div>*@

        <div class="campo">
            <label>Producto:</label>
            <input type="text" name="nombre" required>
            <br />
        </div>

        <div class="campo">
            <label>Categoría:</label>
            @Html.DropDownList(
               "IdCategoria",
               (SelectList)ViewBag.Categorias,
               "Selecciona",
               new { required = "required" }
           )
        </div>

        <div class="campo">
            <label>Descripción:</label>
            <input type="text" name="descripcion">
            <br />
        </div>

        <div class="campo">
            <label>Precio:</label>
            <input type="text" name="precio" required placeholder="Ej: 100.00"
                   oninput="if(this.value.length > 8) this.value = this.value.slice(0, 8);"
                   onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" />
            <br />
        </div>

        <button type="submit">Agregar</button>
    </div>
</form>

<hr />

<h2>Lista de productos</h2>

@Html.Partial("_TablaProductos", Model)

<br />

<button type="submit" class="btn-irC" onclick="location.href = '@Url.Action("ListaCarrito", "Productos")'">Ir al carrito</button>

