@{
    ViewBag.Title = "About";
}

<link href="~/Content/estilos.css" rel="stylesheet" />

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Mi nombre es Celia Payan.</p>
    <p>Soy estudiante de la Universidad Autonóma de Occidente, unidad reginal Guasave. Actualmente cursando el programa educativo Licenciatura en Sistemas Computacionales.</p>
    <p>Tengo 20 años, y sobre mis hobbies puedo mencionar el leer, dibujar, me encanta dibujar a mano alzada pero sobre todo pintar con acuarelas y pintura acrílica; me gusta cocinar en especial postres, bailar aunque puede que no lo haga del todo bien pero me encanta la música.</p>
    <p>Me gusta ver peliculas, series y ánime en ocasiones. Pero más en vacaciones, porque durante la mayoría del año los estudios consumen la mayoría del tiempo. Otro dato sobre mí es que me encantan los animales, los bebés/niños, la naturaleza... Pero eso sí, que no me agrada para nada el cacahuate. Abajo los cacahuates, que viva la piña !!</p>
</main>