
@{
    ViewBag.Title = "Bienvenida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/estilos.css" rel="stylesheet" />

<h2>Hola @ViewBag.Nombre Bienvenida a la página de prueba.</h2>

