@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/estilos.css" rel="stylesheet" />

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Gabriel Leyva Solano,<br />
        Colonia 24 de Febrero.<br />
        Calle Francisco Barnoin Chavez, entre Alejandro López y Revolución<br />
        <abbr title="Phone">Teléfono:</abbr>
        687-182-64-51
    </address>

    <address>
        <strong>Correo personal:</strong>   <a href="mailto:Support@example.com">aylialu35@gmail.com</a><br />
        <strong>Correo Institucional:</strong> <a href="mailto:Marketing@example.com">23030689@uadeo.mx</a>
    </address>
</main>