
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/estilos.css" rel="stylesheet" />

<h2>Lista de 6to semestre</h2>

<ul>
    <li>Ornelas Valdez</li>
    <li>Payan Leyva</li>
    <li>Ramirez Felix</li>
    <li>Olivas Almader</li>
    <li>Martha Acosta</li>
    <li>Soto Vea</li>
    <li>Ojeda Torres</li>
    <li>Soto Escobar</li>
    <li>Melendrez Salazar</li>
</ul>
