
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/EstilosLogin.css" rel="stylesheet">

<body>
    <form action="">
        <h2>Inicio de Sesión</h2>
        <label>Ingrese usuario:</label>
        <div class="container-input">
            <input id="usuario" type="text" placeholder="Escriba Cliente1">
        </div>
        <label>Ingrese contraseña:</label>
        <div class="container-input">
            <input id="contraseña" type="password" placeholder="Escriba 1234">
        </div>
        <a href="#">¿Olvidaste tu contraseña?</a>
    </form>
    <div class="container-bienvenida">
        <div class="bienvenida-registro bienvenida">
            <h3>¡Bienvenido!</h3>
            <p>Ingrese los datos indicados para tener acceso a todos los apartados del sitio.</p>
        </div>
</body>

